body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

div {
    width: 20rem;
    margin: 5rem auto;
    text-align: center;
    margin-top: 7rem;
    border-radius: 1.25rem;
    background-color: hsl(0, 0%, 100%);
}

img {
    width: 18rem;
    height: 18rem;
    margin-top: 1rem;
    border-radius: .8rem;
}

.p1 {
    font-weight: 700;
    font-size: 1.375rem;
    color: hsl(218, 44%, 22%);
}

.p2 {
    font-weight: 400;
    font-size: .9375rem;
    padding-bottom: 2.5rem;
    color: hsl(220, 15%, 55%);
}

.p1, .p2 {
    width: 80%;
    margin: 1.2rem auto;
}