body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

main {
    width: 20rem;
    text-align: center;
    border-radius: 1.25rem;
    background-color: hsl(0, 0%, 100%);
}

img {
    width: 18rem;
    height: 18rem;
    margin-top: 1rem;
    border-radius: .8rem;
}

h1 {
    font-weight: 700;
    font-size: 1.375rem;
    color: hsl(218, 44%, 22%);
}

p {
    font-weight: 400;
    font-size: .9375rem;
    padding-bottom: 2.5rem;
    color: hsl(220, 15%, 55%);
}

h1, p {
    width: 80%;
    margin: 1.2rem auto;
}